/* titillium-web-regular - latin-ext_latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;

  src: local(''),
       url('../fonts/TitilliumWeb-SemiBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



.sub_img
{
    width:100%;
	height:580px;
	overflow:hidden;
	background-color:#f5f5f5;
	margin-top:100px;
}

.sub_img > img
{
	display:block;
	top:90px;
	right:0px;
	position:absolute;
}


.sub_img_title
{
	width: 330px;
	height: 120px;
}


.box_outline{
	width:100%;
	margin: 0 auto;
	margin-top:250px;
	overflow:hidden;
	position:relative;
	padding:0px 28px;
}

.box_title{
	width:380px;
	height:190px;
	display:block;
	overflow:hidden;
	position:absolute;
	margin: 0 auto;
	margin-top:-280px;
	left:300px;
}

.box_title > .eng{
	display:block;
	position:absolute;
	font-family: 'Titillium Web', 'Noto sans', 'Malgun Gothic', sans-serif;
	font-weight: 200;
	font-size:42px;
	color:#a5a5a5;
}

.box_title > .kor{
	display:block;
	width:380px;
	height:100px;
	font-family: 'Noto sans', 'Malgun Gothic', sans-serif;
	margin-top: 60px;
	color:#454545;
}

.txt_m_title
{
	text-align:center;
	width:100%;
	height:142px;
	font-size:16px;
	padding-top:20px;
	padding-bottom:60px;
	color:#867f7b;
}


.div90do1 {
    /* background-color: yellow;
    Rotate div */
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.div_img_left_txt
{
	width: 480px;
    height: 40px;
	position:absolute;
	text-align:center;
	left:-220px;
	top:350px;
	font-size:12px;
}

.div_proimg_left
{
	width:36%;
	height:970px;
	overflow:hidden;
	display:block;
	border:solid 1px #d6d2ce;
	float:left;
}

.div_proimg_center
{
	width:32%;
	height:970px;
	overflow:hidden;
	display:block;
	float:left;
	border-top:solid 1px #d6d2ce;
	border-bottom:solid 1px #d6d2ce;
}


.div_proimg_right
{
	width:32%;
	height:970px;
	overflow:hidden;
	display:block;
	border-top:solid 1px #d6d2ce;
	border-right:solid 1px #d6d2ce;
	border-bottom:solid 1px #d6d2ce;
	float:right;
}


.div_proimg_center > img
{
	border:solid 1px #ececec;
}

.div_proimg_center-2 > img
{
	border:solid 1px #ececec;
}

.div_proimg_center-2
{
	width:1080px;
	padding-bottom:100px;
	padding-left:215px;
}

.div_img_right_txt
{
	width: 480px;
    height: 40px;
	position:absolute;
	text-align:center;
	right:-200px;
	top:350px;
	font-size:12px;
}


.box_special{
	width:1000px;
	height:400px;
	position:absolute;
	right:100px;
	top:500px;
}

.box_special_div01{
	position:absolute;
	width:248px;
	height:102px;
	margin-top:80px;
	/*border:solid 1px #d6d2ce;*/
	font-size:25px;
	font-weight:bold;
	letter-spacing: -3px;
	word-spacing:4px;
	color:#7e7773;
}

.box_special_div02{
	position:absolute;
	width:239px;
	height:75px;
	margin-top:220px;
	border:solid 1px #d6d2ce;
	font-size:16px;
	color:#7e7773;
	line-height:90px;
}

.box_special_div03{
	position:absolute;
	width:350px;
	height:200px;
	margin-left:280px;
	margin-top:80px;
	font-size:15px;
	color:#7e7773;
	line-height:35px;
	letter-spacing: -1px;
	word-spacing:1px;
}

.box_special_div04{
	position:absolute;
	width:380px;
	height:200px;
	margin-left:640px;
	margin-top:80px;
	font-size:15px;
	color:#7e7773;
	line-height:35px;
	letter-spacing: -1px;
	word-spacing:1px;
}

.box_premium{
	width:1000px;
	height:400px;
	margin: 0 auto;
	overflow:hidden;
	border-top:solid 1px #d6d2ce;
	color:#7e7773;
}

.box_premium_div01{
	width:436px;
	height:102px;
	margin-top:40px;
	font-size:26px;
	font-weight:bold;
	letter-spacing: -3px;
	word-spacing:4px;
}

.box_premium_div02{
	width:436px;
	height:102px;
	font-size:16px;
	letter-spacing: -1px;
	word-spacing:1px;
	line-height:28px;
}

.box_premium_div03{
	width:490px;
	height:102px;
	margin-top:140px;
	font-size:15px;
	letter-spacing: -1px;
	word-spacing:1px;
	line-height:28px;
}

.box_colorfull{
	width:100%;
	height:586px;
	margin-top:100px;
	background-color:#faf8f8;
	position:relative;
	display:block;
}

.box_contents3{
	width:1080px;
	height:360px;
	margin: 0 auto;
	padding-top:110px;
}


.conceptimg{ 
	padding-right:100px;}


.txt_concept
{
	width:402px;
	height:350px;
}


.txt_concept_div02
{
	width:373px;
	height:15px;
	font-weight:bold;
	text-align:center;
	margin-top:34px;
}

.txt_concept_div03
{
	width:373px;
	height:15px;
	text-align:center;
	margin-top:10px;
}

.txt_concept_div04
{
	width:373px;
	height:15px;
	text-align:center;
	margin-top:190px;
	font-size:15px;
	letter-spacing: -1px;
	line-height:29px;
}

.box_design { 
	width:1082px; 
	border-style: solid;
	border-width: 0px 1px 0px 1px;
	border-color:#dfdddc;
	margin: 0 auto; 
	margin-top:110px;}

.title_prince { 
position:absolute; width:1080px; height:320px; left:50%; margin-left:-540px; margin-top:-250px;}

.box_prince { 
	position:absolute; 
	width:900px; 
	left:50%; margin-left:-450px; margin-top:-70px;
	z-index:33;
}


/* ////////////////////// delivery & AS ///////////////////////////////////  */


.box_delivery{
	width:1080px;
	margin: 0 auto;
	overflow:hidden;
	display:block;
}

.box_delivery_div01{
	width:270px;
	height:658px;
	background-color:#f5f2f1;
	padding-top:69px;
	padding-left:29px;
	float:left;
}


.box_delivery_div02{
	width:797px;
	height:658px;
	float:right;
	background-color:#fbf9f9;
	padding-top:69px;
	padding-left:53px;
}

.box_delivery .text01{
	width:100%;
	height:80px;
	font-size:17px;
	font-weight:bold;
	font-weight:700;
	color:#000;
	line-height:24px;
}

.box_delivery .text02{
	width:100%;
	height:36px;
	font-size:15px;
	font-weight:bold;
	font-weight:700;
	color:#000;
	line-height:24px;
}

.box_delivery .text03{
	width:100%;
	height:470px;
	font-size:15px;
	font-weight:bold;
	font-weight:700;
	color:#99393c;
	line-height:24px;
}

.box_delivery .text04{
	width:100%;
	height:58px;
	font-size:17px;
	font-weight:bold;
	font-weight:700;
	color:#000;
	line-height:24px;
}

.box_delivery .text05{
	width:100%;
	height:36px;
	font-size:15px;
	font-weight:bold;
	font-weight:700;
	color:#000;
	line-height:24px;
}

.box_delivery .text06{
	width:100%;
	height:36px;
	font-size:15px;
	font-weight:bold;
	font-weight:700;
	color:#99393c;
	line-height:24px;
}


.box_delivery .text07{
	width:100%;
	height:24px;
	font-size:15px;
	font-weight:bold;
	font-weight:700;
	color:#000;
	line-height:24px;
}

.box_delivery .text08{
	width:100%;
	font-size:15px;
	color:#000;
	line-height:24px;
	margin-bottom:24px;
}

.box_delivery .textbold{
	width:100%;
	font-size:15px;
	font-weight:bold;
	font-weight:700;
	color:#99393c;
}


.box_delivery_div03{
	width:270px;
	height:566px;
	background-color:#f5f2f1;
	padding-top:69px;
	padding-left:29px;
	float:left;
}

.box_delivery_div04{
	width:797px;
	height:566px;
	float:right;
	background-color:#fbf9f9;
	padding-top:69px;
	padding-left:53px;
}


.img_onestop { 
	position:absolute;
	width:200px;
	height:200px;
	left:50%;
	margin-left:250px;
	margin-top:-450px;
}

.btprolist{
	width:80px;
	height:80px;
	position:fixed;
	top:600px;
	left:50%;
	margin-left: 540px;
	z-index:10000;
}