#image_area
{
	width:1116px;
	height:480px;
	margin:0 auto;
}

#wrap_img_slider
{
	position:relative;
    width:1080px;
	height:480px;
    margin:0 auto;
	display:block;
	overflow:hidden;
}



/* 매장정보 ///////////////////////////////////////*/
.slider_img_toggle
{
	width:1920px;
	height:384px;
	position:relative;
}


.slider_img_toggle1
{
	width:1920px;
	height:384px;
	position:absolute;
}

.slider_img_toggle2
{
	width:1920px;
	height:384px;
	position:absolute;
}

.slider_img_toggle3
{
	width:1920px;
	height:384px;
	position:absolute;
}



.txt_title01_map01
{
	font-style: italic;
	font-size:20px;
	padding-top:20px;
	color: #484659;
	font-weight:700;
	width:960px;
	line-height:27px;
	text-align:center;
}
.txt_title01_map02
{
	font-size:15px;
	padding-top:4px;
	color: #484659;
	font-weight:400;
	width:960px;
	text-align:center;
	letter-spacing: 2px;
}

.txt_map01
{
	position:absolute;
	font-size:15px;
	color: #484659;
	font-weight:300;
	width:480px;
	height:25px;
	text-align:center;
	letter-spacing: 2px;
	float:left;
	margin-top:40px;
	border-style: solid;
    border-width: 0px 1px 0px 0px;
	border-color:#494659;
}

.txt_map02
{
	font-size:15px;
	color: #484659;
	font-weight:300;
	width:478px;
	text-align:center;
	letter-spacing: 2px;
	float:right;
	margin-top:40px;
}

.txt_map03
{
	font-size:17px;
	font-weight:300;
	width:300px;
	padding-top:25px;
	padding-left:27px;
	letter-spacing: 3px;
	float:left;
}

.txt_map04
{
	font-size:16px;
	font-weight:400;
	width:300px;
	padding-top:4px;
	padding-left:27px;
	float:left;
}

.txt_map_colorback
{
	width:300px;
	height:108px;
	margin-top:0px;
	background-color:#484659;
}


.txt_map_colorback2
{
	width:300px;
	height:108px;
	margin-top:0px;
	background-color:#958079;
}
/*background-color:#958079;*/
.txt_map_back
{
	width:300px;
	height:270px;
	margin-top:0px;
	padding-top:65px;
	padding-left:20px;
}

.txt_map05
{
	font-size:15px;
	color:#6f7070;
	font-weight:700;
	width:280px;
}

.txt_map06
{
	width:280px;
	height:100px;
	background-color:#fff;
}

.txt_map06_in01
{
	width:52px;
	padding-top:3px;
	line-height:24px;
	float:left;
	font-size:14px;
	color:#6f7070;
}
.txt_map06_in02
{
	width:228px;
	padding-top:3px;
	line-height:24px;
	float:right;
	font-size:14px;
	color:#6f7070;
}

.txt_map_back2
{
	width:280px;
	height:248px;
	margin-top:0px;
	padding-top:80px;
	padding-left:20px;
}

.txt_map07
{
	font-size:15px;
	color:#6f7070;
	font-weight:700;
	width:280px;
}

.txt_map08
{
	width:280px;
	height:100px;
	background-color:#fff;
}

.txt_map08_in01
{
	width:60px;
	padding-top:3px;
	line-height:24px;
	float:left;
	font-size:14px;
	color:#6f7070;
}
.txt_map08_in02
{
	width:220px;
	padding-top:3px;
	line-height:24px;
	float:right;
	font-size:14px;
	color:#6f7070;
}

.point_toggle
{
	position:absolute;
	width:34px;
	height:20px;
	margin-left:1020px;
	margin-top:-40px;
	overflow:hidden;
	background: url('/public_html/img/point_toggle.png') 0 -20px no-repeat;
}


.point_toggle_a
{
	position:absolute;
	width:72px;
	height:23px;
	margin-left:980px;
	margin-top:-40px;
	overflow:hidden;
	background: url('/public_html/img/point_toggle.png') 0 0px no-repeat;
}


.pointMa
{
	position:absolute;
	width:17px;
	height:23px;
	margin-left:0px;
	margin-top:0px;
	float:left;
}

.pointMb
{
	position:absolute;
	width:17px;
	height:23px;
	margin-left:17px;
	margin-top:0px;
	float:left;
}

.pointMc
{
	position:absolute;
	width:17px;
	height:23px;
	margin-left:34px;
	margin-top:0px;
	float:left;
}

.pointMd
{
	position:absolute;
	width:17px;
	height:23px;
	margin-left:51px;
	margin-top:0px;
	float:left;
}



.btn_point_img, .btn_point_img1, .btn_point_img2, .btn_point_img3
{
	position:absolute;
	width:47px;
	height:100px;
	margin-left:150px;
	margin-top:0px;
	overflow:hidden;
	background: url('/public_html/img/btn_point.png') 0 0px no-repeat;
}



.pointA
{
	position:absolute;
	width:23px;
	height:23px;
	margin-left:0px;
	margin-top:27px;
	float:left;
}

.pointB
{
	position:absolute;
	width:23px;
	height:23px;
	margin-left:24px;
	margin-top:27px;
}

.pointC
{
	position:absolute;
	width:23px;
	height:23px;
	margin-left:0px;
	margin-top:27px;
	float:left;
}

.pointD
{
	position:absolute;
	width:23px;
	height:23px;
	margin-left:24px;
	margin-top:27px;
}

.pointE
{
	position:absolute;
	width:23px;
	height:23px;
	margin-left:0px;
	margin-top:27px;
	float:left;
}

.pointF
{
	position:absolute;
	width:23px;
	height:23px;
	margin-left:24px;
	margin-top:27px;
}


.pointG
{
	position:absolute;
	width:23px;
	height:23px;
	margin-left:0px;
	margin-top:27px;
	float:left;
}

.pointH
{
	position:absolute;
	width:23px;
	height:23px;
	margin-left:24px;
	margin-top:27px;
}

#btn_map_toggle
{
	position:absolute;
	width:47px;
	height:104px;
	margin-left:240px;
	margin-top:0px;
	overflow:hidden;
	/*background: url('/public_html/img/btn_map_toggle.png') 0 0px no-repeat;*/
}




.toggleA
{
	position:absolute;
	width:49px;
	height:108px;
	left:-49px;
	margin-top:0px;
	float:left;
}

.toggleA > a
{
	text-decoration: none;
	color:#fff;
}


.toggleB
{
	position:absolute;
	width:49px;
	height:108px;
	left:0px;
	margin-top:0px;
}

.toggleB > a
{
	text-decoration: none;
	color:#fff;
}


.ani_arrow
{
	position:absolute;
	float:left;
	width:25px;
	height:108px;
	margin-left:270px;
	margin-top:0px;
	overflow:hidden;
}


.toggleC
{
	position:absolute;
	width:49px;
	height:108px;
	left:-49px;
	margin-top:0px;
	float:left;
}

.toggleC > a
{
	text-decoration: none;
	color:#fff;
}


.toggleD
{
	position:absolute;
	width:49px;
	height:108px;
	left:0px;
	margin-top:0px;
}

.toggleD > a
{
	text-decoration: none;
	color:#fff;
}

.toggleE
{
	position:absolute;
	width:49px;
	height:108px;
	left:-49px;
	margin-top:0px;
	float:left;
}

.toggleE > a
{
	text-decoration: none;
	color:#fff;
}


.toggleF
{
	position:absolute;
	width:49px;
	height:108px;
	left:0px;
	margin-top:0px;
}

.toggleF > a
{
	text-decoration: none;
	color:#fff;
}


.toggleG
{
	position:absolute;
	width:49px;
	height:108px;
	left:-49px;
	margin-top:0px;
	float:left;
}

.toggleG > a
{
	text-decoration: none;
	color:#fff;
}


.toggleH
{
	position:absolute;
	width:49px;
	height:108px;
	left:0px;
	margin-top:0px;
}

.toggleH > a
{
	text-decoration: none;
	color:#fff;
}

.sl_img01
{
	width:1286px;
	height:448px;
	position:relative;
}

.sl_img02
{
	width:1286px;
	height:448px;
	position:relative;
}

.sl_img03
{
	width:1286px;
	height:448px;
	position:relative;
}


.sl_img03A
{
	width:1286px;
	height:448px;
	position:relative;
	left:0px;
}


.sl_img04
{
	width:640px;
	height:444px;
	position:relative;
}

