.space-top{
	width:1080px;
	height:40px;
	margin: 0 auto;
}


.modlelist{
	width:1080px;
	height:270px;
	margin: 0 auto;
	font-family: "Noto Sans KR";
	color:#877e79;
	margin-bottom:50px;
}

.modlelist > ul > li{
	width:216px;
	height:236px;
	float:left;
	margin-right:72px;
}


.modlelist > ul > li:last-child{
	margin-right:0px;
}


.modelimg{
	width:216px;
	height:216px;
}

.modelname{
	width:216px;
	height:15px;
	font-size:12px;
	text-align:right;
	color:#333333;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	margin-top:-221px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

span.kor{
	font-size:12px;
	text-align:right;
	padding-left:6px;
	display: inline;
}