.space-top{
	width:992px;
	height:60px;
	margin: 0 auto;
	border-top:solid 5px #8d8479;
	margin: 0px 44px;
}


.modlelist{
	width:1080px;
	height:370px;
	margin: 0 auto;
	font-family: "Noto Sans KR";
	color:#877e79;
	margin-bottom:50px;
}

.modlelist > ul > li{
	width:280px;
	float:left;
	margin-left:76px;
	margin-right:76px;
}

.modlelist > ul > li:first-child{
	margin-left:44px;
	margin-right:0px;
}

.modlelist > ul > li:last-child{
	margin-left:0px;
	margin-right:44px;
}

.modelimg{
	height:280px;
}

.modelimg > a > img{
	width:280px;
}
 
.modelname{
	width:280px;
	height:30px;
	font-size:24px;
	text-align:right;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	margin-top:-300px;
	z-index: 1;
	width:240px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

span.kor{
	font-size:18px;
	text-align:right;
	padding-left:8px;
}

.menuprolist{
	width:120px;
	height:120px;
	position:fixed;
	top:60px;
	right:25px;
	z-index:10000;
}