<SCRIPT LANGUAGE="JavaSCRIPT">
    //강아지 동영상 열기
    function windOPE()
    {
        noticeWindow  =  window.open("/public_html/mystery.html","ECSAINE",'left=200, top=40, width=360, height=720, resizable=no, scrollbars=no, status=no location=no ');
    }
</SCRIPT>
<div id="" class="wrap_middle">
    <div class="sub_img">
        <img src="/public_html/img/img_ecs_sp.jpg" border="0" alt="">
    </div>
    <div id="" class="box_full_in_center" style="padding-top:70px;">
        <img src="/public_html/img/titleimg_mat03.png" border="0" alt="">
    </div>
    <!-- 단락 ////////////////////////////////// 1 start-->
    <div id="" class="" style="width:100%; margin-top:109px; background: url('/public_html/img/bg_ecsaine01.jpg') no-repeat center;">
        <div id="" class="box_full_in_center" style="height:648px;">
            <div id="" class="fl_left" style="width:486px;">
                <div id="" class="">
                    <img src="/public_html/img/img_ecsaine01.png" border="0" alt="">
                </div>
                <div id="" class="txt_just" style="padding-top:56px; line-height:28px;">
                    가죽 화학 냄새, 유해성 중금속 화학물질 등 유해화학물질 없이, 순수한 소재 Original ECSAINE로  건강한 피부 접촉과 인체 호흡을 즐기세요. 가정의 일상생활에서, 가구는 피부 접촉과 인체 호흡을 같이 하기 때문에 헷세드는 행복과 건강을 위한 물성 조건을 우선 전제합니다. 헷세드 제품을 이루고 있는 Original ECSAINE는 인체와 피부에 유해성을 가할 수 있는 후가공 화학처리 (방염/난연/발수 등)를 엄격히 제한합니다.
                </div>
            </div>
            <div id="" class="fl_right" style="width:476px;">
                <div id="" class="" style="padding-top:44px;">
                    <img src="/public_html/img/titleimg_mat04.png" border="0" alt="">
                </div>
                <div id="" class="txt_just" style="padding-top:56px; line-height:28px;">
                    검정/흰색/밤색 등 한정된 색상과 비닐스러운 가죽의 질감, 패브릭의 거친 감촉과의 침체된 분위기 등 기존 소재의 한계를 뛰어넘는 획기적인 소재 Original ECSAINE는, 고감도의 색감발현력으로, 밝은 빛 가운데서 미와 애정의 가치가 더해집니다. 다양한 컬러로 우리 집만의 고급스럽고 차별된 분위기가 연출되어 매력적인 촉감과 함께 소중한 가족과, 이웃에게 감동을 전하는 고감도 감성을 지녔습니다.
                </div>
                <div id="" class="" style="padding-top:33px;">
                    <img src="/public_html/img/img_ecsaine16.jpg" border="0" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- 단락 ////////////////////////////////////// 1 end-->


    <!-- 단락 ////////////////////////////////// 2 start-->
    <div id="" class="" style="width:100%; margin-top:129px; background: url('/public_html/img/bg_ecsaine02.jpg') no-repeat center;">
        <div id="" class="box_full_in_center" style="height:778px;">
            <div id="" class="fl_left" style="width:486px;">
                <div id="" class="" style="padding-top:65px;">
                    <img src="/public_html/img/titleimg_mat05.png" border="0" alt="">
                </div>
                <div id="" class="txt_just" style="padding-top:30px; line-height:28px;">
                    일체가공형태를 취하는 Original ECSAINE는 정서적으로 섬세하면서도 매혹적인 촉감을 지녔습니다. 또한 두겹본딩(멀티레이어), 코딩 작업 등에서 발생되는 터치의 뻣뻣함 없이 고급스러우면서도 부드러운 유연성으로 살에 닿는 촉감은 물론 제품의 완벽한 실루엣을 완성 시킵니다.
                </div>
                <div id="" class="" style="padding-top:120px;">
                    <img src="/public_html/img/titleimg_mat06.png" border="0" alt="">
                </div>
                <div id="" class="txt_just" style="padding-top:30px; line-height:28px;">
                    외부 온도 변화에 관계없이 일정한 소재의 온도를 유지하는 성질과 피부와 함께 숨을 쉬는 통기성으로 습한 여름엔 시원하게, 추운 겨울엔 따스함을 즐길 수 있는 느낌은 Original ECSAINE가 오랜 시간 사랑받는 이유입니다. Original ECSAINE는 두겹본딩에 의한 통기성 차단으로 습기를 머금는 눅눅함이 없어, 365일/4계절 내내 뽀송뽀송한 느낌으로 가족의 행복과 위생을 보호하여 줍니다.
                </div>
            </div>
            <div id="" class="fl_right" style="width:476px;">
                <div id="" class="" style="padding-top:0px;">
                    <img src="/public_html/img/titleimg_mat07.png" border="0" alt="">
                </div>
                <div id="" class="txt_just" style="padding-top:30px; line-height:28px;">
                    우수한 통기성과 미세입자를 걸러주는 구조적 특징으로 초콜릿 / 커피 / 아이스크림 등 일상생활의 일반 오염을 물수건으로 손쉽게 닦아 낼 수 있는 편리한 관리성은 행복의 리듬을 지켜줍니다. 또한 반려동물의 발톱 자국,  올 풀림, 스크래치에 강한 우수한 형태 복원력과 내구성으로 반려동물이 함께하는 가정에 행복을 더해 줍니다.
                </div>
                <div id="" class="" style="padding-top:40px;">
                    <a href="javascript:windOPE();"><img src="/public_html/img/img_ecsaine17.jpg" border="0" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- 단락 ////////////////////////////////////// 2 end-->

    <!-- 단락 ////////////////////////////////// 3 start-->
    <div id="" class="" style="margin-top:129px;">
        <div id="" class="box_full_in_center" style="height:357px; ">
            <div id="" class="fl_left" style="width:486px;">
                <div id="" class="">
                    <img src="/public_html/img/img_ecsaine18.jpg" border="0" alt="">
                </div>
            </div>
            <div id="" class="fl_right" style="width:476px;">
                <div id="" class="" style="padding-top:0px;">
                    <img src="/public_html/img/titleimg_mat08.png" border="0" alt="">
                </div>
                <div id="" class="txt_just" style="padding-top:40px; line-height:28px; clear: both;">
                    Original ECSAINE는 베스트 명성 그대로 전세계의 명품의 가치를 리딩 합니다. 헷세드 제품으로 우리 집만의 프라이드를 한층 더하여 희소가치를 느껴보세요. 어느 가정에서고 감동으로 최상의 하모니를 이끌어내는 비밀은 소중한 가정의 멋진 아름다움과 화목, 행복과 건강을 고객님과 함께 바라보는 헷세드의 철학에 있습니다.
                </div>
            </div>
        </div>
    </div>
    <!-- 단락 ////////////////////////////////////// 3 end-->


</div>