<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="title" content="친환경 소파&침대 .hassed">
	<meta name="Keywords" content="친환경 소파&침대 전문브랜드, 오리지널 엑센느, 제품소개 및 매장안내, 고객후기">
	<meta name="description" content="친환경 소파&침대 전문브랜드, 오리지널 엑센느, 제품소개 및 매장안내, 고객후기">
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="viewport" content="width=device-width"/>
	<link rel="SHORTCUT ICON" href="img/hassed.png"/>
	<link rel="apple-touch-icon" href="img/hassed.png">

	<!-- <script type="text/javascript">

	  var tmpUser = navigator.userAgent;

		if (tmpUser.indexOf("iPhone") > 0 || tmpUser.indexOf("iPad") > 0 ){
			document.write('<link rel="apple-touch-icon" href="img/hassed114.png" />')
		}

	</script> -->

	<title>.HASSED</title>
	<link rel="stylesheet" type="text/css" href="css/reset_style.css" />
	<link rel="stylesheet" type="text/css" href="css/default_hassed.css" />
	<link rel="stylesheet" type="text/css" href="css/default_hassed_2017.css" />
	<link rel="stylesheet" type="text/css" href="css/menuf.css" />
	<link rel="stylesheet" type="text/css" href="css/main_2017.css" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="js/topmenu.js"></script>


	<!-- mySlider script file -->
	<script src="./js_new/myslider.js"></script>
	<!-- mySlider css file -->
	<link rel="stylesheet" type="text/css" href="./css/myslider.css" />


</head>
<body>
<div id="" class="wrap">

	<!-- topmenu ////////////////////////////// -->
	<!-- #include file="topmenu.html" -->
	<!-- topmenu ////////////////////////////// -->




	<div id="" class="wrap_middle">
		<div class="main_img">
			<div class="myslider">
				<div id='layerA' class="slider_img01"><img src="./img/main_img01.jpg" border="0" alt=""></div>
				<div class="slider_img02"><img src="./img/main_img02.jpg" border="0" alt=""></div>
				<div class="slider_img03"><img src="./img/main_img03.jpg" border="0" alt=""></div>
			</div>
		</div>
		<div id="bx-point">
			<a href="#a"><div id="bt_point01"><img src="./img/pagepoint.png" /></div></a>
			<a href="#b"><div id="bt_point02"><img src="./img/pagepoint.png" /></div></a>
			<a href="#c"><div id="bt_point03"><img src="./img/pagepoint.png" /></div></a>
		</div>

		<div id="" class="reviewnews">
			<div id="" class="box_news">
				<div id="" class="box_news_inline">
					<div class="mysliderb">
						<div class="sliderb_img02"><a href="http://www.hassed.kr/m/haboard02.asp"><img src="./img/news_img171018_3.jpg" border="0" alt=""></a></div>
						<div class="sliderb_img03"><a href="http://www.hassed.kr/m/haboard02.asp"><img src="./img/news_img171018_5.jpg" border="0" alt=""></a></div>
						<div class="sliderb_img04"><a href="http://www.hassed.kr/m/haboard02.asp"><img src="./img/news_img171018_2.jpg" border="0" alt=""></a></div>
						<!--<div class="sliderb_img05"><a href="http://www.hassed.kr/m/haboard02.asp"><img src="./img/news_img171018_5.jpg" border="0" alt=""></a></div>-->
						<div class="sliderb_img01"><a href="http://www.hassed.kr/m/haboard02.asp"><img src="./img/news_img171018_2.jpg" border="0" alt=""></a></div>
					</div>

					<!-- <div id="" class="img_center">
						<img src="./img/news_img01.jpg" border="0" alt="">
					</div> -->
					<div id="" class="title_news txt_white">
						<!--news-->
					</div>
					<div id="bx-point-news">
						<a href="#d"><div id="bt_pointb01"><img src="./img/pagepoint.png" /></div></a>
						<a href="#e"><div id="bt_pointb02"><img src="./img/pagepoint.png" /></div></a>
						<a href="#f"><div id="bt_pointb03"><img src="./img/pagepoint.png" /></div></a>
						<!-- <a href="#g"><div id="bt_pointb04"><img src="./img/pagepoint.png" /></div></a>
						<a href="#h"><div id="bt_pointb05"><img src="./img/pagepoint.png" /></div></a> -->
					</div>

					<!-- <div id="" class="box_contest">
					마이홈자랑 콘테스트 진행중
					</div> -->
				</div>
			</div>
			<div id="" class="box_review bgcolor-ivory">
				<div id="" class="title_sub01 txt_darkgray">
					review
				</div>
				<div id="" class="box_review_2d">
					<div id="" class="mysliderc">
						<div id="slideA" class="review_slideA">
							<ul>
								<li><a href="http://www.hassed.kr/m/haboard03.asp"><img src="./img/review_img01.jpg" border="0" alt=""></a></li>
								<li><a href="http://www.hassed.kr/m/haboard03.asp"><img src="./img/review_img02.jpg" border="0" alt=""></a></li>
							</ul>
						</div>
						<div id="slideB" class="review_slideB">
							<ul>
								<li><a href="http://www.hassed.kr/m/haboard03.asp"><img src="./img/review_img03.jpg" border="0" alt=""></a></li>
								<li><a href="http://www.hassed.kr/m/haboard03.asp"><img src="./img/review_img04.jpg" border="0" alt=""></a></li>
							</ul>
						</div>
						<div id="slideC" class="review_slideC">
							<ul>
								<li><a href="http://www.hassed.kr/m/haboard03.asp"><img src="./img/review_img05.jpg" border="0" alt=""></a></li>
								<li><a href="http://www.hassed.kr/m/haboard03.asp"><img src="./img/review_img06.jpg" border="0" alt=""></a></li>
							</ul>
						</div>

					</div>
					<!-- <ul>
						<li><img src="./img/review_img01.jpg" border="0" alt=""></li>
						<li><img src="./img/review_img02.jpg" border="0" alt=""></li>
					</ul> -->
				</div>
				<div id="" class="box_7years">
					8 years of customer reviews
				</div>
				<div id="bx-point-review">
					<a href="#g"><div id="bt_pointc01"><img src="./img/pagepoint.png" /></div></a>
					<a href="#h"><div id="bt_pointc02"><img src="./img/pagepoint.png" /></div></a>
					<a href="#i"><div id="bt_pointc03"><img src="./img/pagepoint.png" /></div></a>
				</div>
			</div>

		</div>
		<div id="" class="movie_m bgcolor-ivory">
			<div id="" class="title_movie">
				<img src="./img/title_movie.png" border="0" alt="">
			</div>
			<div id="wrap_mainvideo_m" class="mainvideo">
				<ul>
					<iframe id="player" type="text/html" width="720" height="480"
							src="https://player.vimeo.com/video/208591714"
							frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</ul>
			</div>
		</div>

		<div id="" class="product_store">
			<div id="" class="product_store_left">
				<img src="./img/title_product.jpg" border="0" alt="">
				<div id="" class="box_product">
					<div id="" class="box_product_in01">
						<a href="hapro08.asp"><img src="./img/img_product_sofa.jpg" border="0" alt=""></a>
					</div>
					<div id="" class="box_product_in02">
						<a href="hapro04.asp"><img src="./img/img_product_bed.jpg" border="0" alt=""></a>
					</div>
				</div>

			</div>
			<div id="" class="product_store_right">
				<img src="./img/title_store.jpg" border="0" alt="">
				<div id="" class="box_store">
					<div id="" class="box_store_in01">
						<a href="hacom04.asp#point_store"><img src="./img/bt_roadshop.jpg" border="0" alt=""></a>
					</div>
					<div id="" class="box_store_in02">
						<a href="hacom04.asp#point_depart"><img src="./img/bt_depart.jpg" border="0" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div id="" class="mobile_bottom">
		<div id="" class="mo_bo_01">
			<ul>
				<li>CONTACT US</li>
				<li>02 401 5073</li>
				<li>hassed_kr@naver.com</li>
			</ul>
		</div>
		<div id="" class="mo_bo_02">
			<ul>
				<li><a href="hab2b.asp">B2B</a></li>
				<li><a href="harec.asp">채용</a></li>
				<li><a href="halaw.asp">법률성명</a></li>
				<li><a href="haPrivacy.asp">개인정보보호정책</a></li>
				<li><a href="haboard06.asp">FAQ</a></li>
			</ul>
		</div>
		<div id="" class="mo_bo_03">
			(주)헷세드   서울시 송파구 오금동 33-6번지 헷세드빌딩   대표이사 김기욱  <br>
			사업자등록번호 132-86-14687&nbsp;&nbsp;&nbsp;&nbsp;ⓒ 2010 HASSED all right reserved
		</div>
	</div>
</div>


</div>


</body>

</html>
