

.box_title3{
	width:1080px;
	height:107px;
	margin: 0 auto;
	margin-top:52px;
	text-align:center;
	border-top:solid 1px #000;
	padding:30px;
	font-size:18px;
	line-height:30px;
}

.box_title3 > img{
	width:200px;
	height:24px;
	margin: 0 auto;
}

.box_2dept_menu{
	width:1080px;
	height:49px;
	margin: 0 auto;
	text-align:center;
	border-top:solid 1px #000;
	border-bottom:solid 1px #000;
	overflow:hidden;
	background:url('/public_html/m/images/2deptmenu_back.jpg') no-repeat;
}


.bt_2dept_left_menu
{
	position:absolute;
	margin: 0 auto;
	width:278px;
	height:29px;
	left:50%;
	margin-left:-425px;
	margin-top:10px;
	color:#000;
	line-height:29px;
}


.bt_2dept_left_menu:hover
{
	background-color:#ececee;
}

.bt_2dept_left_menu> a
{
	color:#000;
}


.bt_2dept_right_menu
{
	position:absolute;
	margin: 0 auto;
	width:278px;
	height:29px;
	left:50%;
	margin-left:137px;
	margin-top:10px;
	color:#000;
	line-height:29px;
}

.bt_2dept_right_menu:hover
{
	background-color:#ececee;
}

.bt_2dept_right_menu> a
{
	color:#000;
}

.box_shop
{
	width:1116px;
	height:460px;
	margin: 0 auto;
	margin-top:100px;
}

.box_shop_left
{
	position:absolute;
	margin: 0 auto;
	width:354px;
	height:460px;
	left:50%;
	margin-left:-540px;
	border-bottom:solid 1px #ddd;
}

.box_shop_leftB
{
	position:absolute;
	margin: 0 auto;
	width:354px;
	height:440px;
	left:50%;
	margin-left:-540px;
	border-bottom:solid 1px #ddd;
}


.box_shop_left_div01
{
	width:354px;
	height:106px;
	background-color:#484659;
	background:url('/public_html/m/images/store_select_back.jpg') no-repeat;
	color:#fff;
	padding-left:20px;
	padding-top:26px;
}

.box_shop_left_div01B
{
	width:354px;
	height:106px;
	background-color:#484659;
	background:url('/public_html/m/images/store_select_back2.jpg') no-repeat;
	color:#fff;
	padding-left:20px;
	padding-top:26px;
}

.box_shop_left_div01C
{
	width:354px;
	height:106px;
	background-color:#484659;
	background:url('/public_html/m/images/store_select_back3.jpg') no-repeat;
	color:#fff;
	padding-left:20px;
	padding-top:26px;
}

.box_shop_left_div01D
{
	width:354px;
	height:106px;
	background-color:#484659;
	background:url('/public_html/img/store_select_back4.jpg') no-repeat;
	color:#fff;
	padding-left:20px;
	padding-top:26px;
}

.box_shop_left_div02
{
	width:354px;
	height:140px;
	padding-left:20px;
	padding-top:26px;
}

.box_shop_left_div02_in01
{
	width:52px;
	padding-top:3px;
	line-height:24px;
	float:left;
	font-size:14px;
}
.box_shop_left_div02_in02
{
	width:258px;
	padding-top:3px;
	line-height:24px;
	float:right;
	font-size:14px;
}

.box_shop_left_div03
{
	width:354px;
	height:106px;
	padding-left:20px;
	padding-top:26px;
}

.box_shop_left_div03_in01
{
	width:52px;
	padding-top:3px;
	line-height:24px;
	float:left;
	font-size:14px;
}

.box_shop_left_div03_in02
{
	width:258px;
	padding-top:3px;
	line-height:24px;
	float:right;
	font-size:14px;
}

.box_shop_left02
{
	position:absolute;
	margin: 0 auto;
	width:354px;
	height:443px;
	left:50%;
	margin-left:-540px;
	border-bottom:solid 1px #ddd;
}


.box_shop_left_div04
{
	width:354px;
	height:80px;
	background-color:#958079;
	color:#fff;
	padding-left:20px;
	padding-top:16px;
}

.box_shop_left_div05
{
	width:354px;
	height:140px;
	padding-left:20px;
	padding-top:52px;
}

.box_shop_left_div05_in01
{
	width:52px;
	padding-top:3px;
	line-height:24px;
	float:left;
	font-size:14px;
}
.box_shop_left_div05_in02
{
	width:258px;
	padding-top:3px;
	line-height:24px;
	float:right;
	font-size:14px;
}

.box_shop_left_div06
{
	width:354px;
	height:106px;
	padding-left:20px;
	padding-top:36px;
}

.box_shop_left_div06_in01
{
	width:52px;
	padding-top:3px;
	line-height:24px;
	float:left;
	font-size:14px;
}

.box_shop_left_div06_in02
{
	width:258px;
	padding-top:3px;
	line-height:24px;
	float:right;
	font-size:14px;
}

.bt_mapstore
{
	position:absolute;
	width:72px;
	height:106px;
	line-height:106px;
	color:#fff;
	top:0px;
	left:280px;
	overflow:hidden;
}



.box_shop_right
{
	position:absolute;
	margin: 0 auto;
	width:690px;
	height:460px;
	left:50%;
	margin-left:-150px;
	overflow:hidden;
}

.box_shop_rightB
{
	position:absolute;
	margin: 0 auto;
	width:689px;
	height:440px;
	left:50%;
	margin-left:-150px;
	overflow:hidden;
}

.box_shop_right_map01
{
	position:absolute;
	margin: 0 auto;
	width:690px;
	height:460px;
	left:50%;
	margin-left:-150px;
	display:none;
}


.toggleA
{
	position:absolute;
	width:72px;
	height:106px;
	left:0px;
	margin-top:0px;
	float:left;
}

.toggleA > a
{
	text-decoration: none;
	color:#fff;
}


.toggleB
{
	position:absolute;
	width:72px;
	height:106px;
	left:-72px;
	margin-top:0px;
}

.toggleB > a
{
	text-decoration: none;
	color:#fff;
}



.toggleC
{
	position:absolute;
	width:72px;
	height:106px;
	left:-72px;
	margin-top:0px;
	float:left;
}

.toggleC > a
{
	text-decoration: none;
	color:#fff;
}


.toggleD
{
	position:absolute;
	width:72px;
	height:106px;
	left:0px;
	margin-top:0px;
}

.toggleD > a
{
	text-decoration: none;
	color:#fff;
}

.img_toggleA
{
	position:absolute;
	width:690px;
	height:460px;
	left:-690px;
	margin-top:0px;
	float:left;
}

.img_toggleB
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}


.img_toggleC
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}

.img_toggleD
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}


.img_toggleE
{
	position:absolute;
	width:690px;
	height:460px;
	left:-690px;
	margin-top:0px;
	float:left;
}

.img_toggleF
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}


.img_toggleG
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}

.img_toggleH
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}


.img_departA1
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}

.img_departA2
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}

.img_departA3
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}

.img_departA4
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}

.img_departA5
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}

.img_departA6
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}
.img_departA7
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}

.img_departA8
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}

.img_departA9
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}

.img_departA10
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}

.img_departA11
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}

.img_departA12
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}

.img_departA13
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}

.img_departA14
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}


.img_departA15
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}

.img_departA16
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}

.img_departA17
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}

.img_departA18
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}

.img_departA19
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}

.img_departA20
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}

.img_departA21
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}

.img_departA22
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}

.img_departA23
{
	position:absolute;
	width:690px;
	height:460px;
	left:690px;
	margin-top:0px;
	float:left;
}

.img_departA24
{
	position:absolute;
	width:690px;
	height:460px;
	left:0px;
	margin-top:0px;
	float:left;
}


.box_space
{
	width:1080px;
	height:100px;
	margin: 0 auto;
}