@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


@font-face {
    font-family: Dotum;
    src: local("Apple SD Gothic Neo");
}

@font-face {
    font-family: Gulim;
    src: local("Apple SD Gothic Neo");
}

@font-face {
    font-family: AppleGothic;
    src: local("Apple SD Gothic Neo");
}

body{ margin:0px;}
ul{padding:0px;}
li{list-style:none;}
a{text-decoration:none;
  color:#666;}

*{box-sizing:border-box;}




.faq_list
	{
		position:relative;
		display:block;
		width:1080px;
		height:133px;
		padding:0px 25px;
		overflow:hidden;
		
	}

.faqboxs
	{
		width:1030px;
		height:133px;
		padding:0px;
		margin:0px;
		font-family: "Noto Sans KR",  "Nanum Gothic", "dotum", '돋움';
	}

.faqboxs > ul
	{
		padding:0px;
		margin:0px;
	}

.faqboxs > ul > li
	{	
		width:183px;
		height:131px;
		float:left;
		background-color:#eeece7;
		text-align:center;
		font-size:16px;
		line-height:20px;
		margin-left:28px;
		padding-top:50px;
		color:#000;
	}

.faqboxs > ul > li.on
	{
		background:url('/public_html/img/bt_faq_on.jpg') 0 0 no-repeat;
		color:#000;
	}

.faqboxs > ul > li:first-child {
		margin-left:0px;
	}

.faqboxs > ul > li > a:hover {
		/*font-weight:bold;*/
		color:#000;
	}

.faqboxs > ul > li > a.on {
		color:#000;
	}


.faq_contents
	{
		position:relative;
		display:block;
		width:1078px;
		min-height:120px;
		overflow:hidden;
		font-family: "Noto Sans KR",  "Nanum Gothic", "dotum", '돋움';
		margin-top:80px;
		font-size:14px;
	}

.tit {
		font-weight:600;
		color:#888;
		display:block;
		height:22px;
		line-height:22px;
	}

.askbody {
		color:#888;
		display:block;
		line-height:22px;
		padding-left:30px;
		padding-top:30px;
		font-size:13px;
		max-height:250px;
	}

.qa {cursor: pointer;}