<link rel="stylesheet" type="text/css" href="/public_html/css/imgslider.css" />
<link rel="stylesheet" type="text/css" href="/public_html/css/store.css" />
<script>
    $(document).ready(function () {
        //$('.main_img_toggle1').fadeOut(10);
        $('.main_img_toggle2').fadeOut(10);
        $('.main_img_toggle3').fadeOut(10);

        setInterval(imgfade, 3000); // 매 3초마다 함수 실행

        $( '#btpoint_img01').click(function() {
            imgfade(1);
        });

        $( '#btpoint_img02').click(function() {
            imgfade(2);
        });
        $( '#btpoint_img03').click(function() {
            imgfade(3);
        });

        var sum = 0; //

        function imgfade(k){
            if(k != null){sum = k-2;}
            sum = sum + 1; // 매 4초마다 숫자 1을 sum 변수에 더합니다.
            if(sum == 0){
                $('.slider_img_toggle2').fadeOut(500);
                $('.slider_img_toggle3').fadeOut(500);
                $('.slider_img_toggle1').fadeIn(500);
                $('.point_toggle_a').css({"background-position":"0px 0px"});
            }
            else if(sum == 1){
                $('.slider_img_toggle1').fadeOut(500);
                $('.slider_img_toggle3').fadeOut(500);
                $('.slider_img_toggle2').fadeIn(500);
                $('.point_toggle_a').css({"background-position":"0px -20px"});
            }
            else if(sum == 2){
                $('.slider_img_toggle1').fadeOut(500);
                $('.slider_img_toggle2').fadeOut(500);
                $('.slider_img_toggle3').fadeIn(500);
                $('.point_toggle_a').css({"background-position":"0px -40px"});
                sum = -1;
            }
        }

        $("#bttoggleA").on({
            mousedown: function () {
                $('#bttoggleA').animate({left: '-72px' });
                $('#bttoggleB').animate({left: '0px' });
                $('.img_toggleA').animate({left: '0px' });
                $('.img_toggleB').animate({left: '690px' });
            }
        });
        $("#bttoggleB").on({
            mousedown: function () {
                $('#bttoggleA').animate({left: '0px' });
                $('#bttoggleB').animate({left: '-72px' });
                $('.img_toggleA').animate({left: '-690px' });
                $('.img_toggleB').animate({left: '0px' });
            }
        });

        $("#bttoggleC").on({
            mousedown: function () {
                $('#bttoggleC').animate({left: '-72px' });
                $('#bttoggleD').animate({left: '0px' });
                $('.img_toggleC').animate({left: '0px' });
                $('.img_toggleD').animate({left: '690px' });
            }
        });
        $("#bttoggleD").on({
            mousedown: function () {
                $('#bttoggleC').animate({left: '0px' });
                $('#bttoggleD').animate({left: '-72px' });
                $('.img_toggleC').animate({left: '-690px' });
                $('.img_toggleD').animate({left: '0px' });
            }
        });

        $("#bttoggleE").on({
            mousedown: function () {
                $('#bttoggleE').animate({left: '-72px' });
                $('#bttoggleF').animate({left: '0px' });
                $('.img_toggleE').animate({left: '0px' });
                $('.img_toggleF').animate({left: '690px' });
            }
        });
        $("#bttoggleF").on({
            mousedown: function () {
                $('#bttoggleE').animate({left: '0px' });
                $('#bttoggleF').animate({left: '-72px' });
                $('.img_toggleE').animate({left: '-690px' });
                $('.img_toggleF').animate({left: '0px' });
            }
        });

        $("#bttoggleG").on({
            mousedown: function () {
                $('#bttoggleG').animate({left: '-72px' });
                $('#bttoggleH').animate({left: '0px' });
                $('.img_toggleG').animate({left: '0px' });
                $('.img_toggleH').animate({left: '690px' });
            }
        });
        $("#bttoggleH").on({
            mousedown: function () {
                $('#bttoggleG').animate({left: '0px' });
                $('#bttoggleH').animate({left: '-72px' });
                $('.img_toggleG').animate({left: '-690px' });
                $('.img_toggleH').animate({left: '0px' });
            }
        });


        $("#bt_depart").click(function(event){
            var offset_top = 3000;
            $('html, body').animate({scrollTop: offset_top}, 500);
        });

        $("#bt_store").click(function(event){
            var offset_top = 600;
            $('html, body').animate({scrollTop: offset_top}, 500);
        });

    });//ready end ////////////////


</script>
<div id="" class="wrap_middle">
    <div class="main_img">
        <div class="myslider">
            <div id='layerA' class="slider_img01"><img src="/public_html/img/img_store01.jpg" border="0" alt=""></div>
            <div class="slider_img02"><img src="/public_html/img/img_store02.jpg" border="0" alt=""></div>
            <div class="slider_img03"><img src="/public_html/img/img_store03.jpg" border="0" alt=""></div>
        </div>
    </div>
    <div id="bx-point">
        <a href="#a"><div id="bt_point01"><img src="/public_html/img/pagepoint.png" /></div></a>
        <a href="#a"><div id="bt_point02"><img src="/public_html/img/pagepoint.png" /></div></a>
        <a href="#a"><div id="bt_point03"><img src="/public_html/img/pagepoint.png" /></div></a>
    </div>

    <!-- 메인 이미지영역 시작 dnamooM_20160328
    <div id="image_area" class="">
        <div id="wrap_img_slider" class="">
            <div class="slider_img_toggle1">
                <img src="/public_html/img/img_store01.jpg" border="0" alt="">
            </div>
            <div class="slider_img_toggle2">
                <img src="/public_html/img/img_store02.jpg" border="0" alt="">
            </div>
            <div class="slider_img_toggle3">
                <img src="/public_html/img/img_store03.jpg" border="0" alt="">
            </div>
        </div>
        <div class="point_toggle_a">
            <div id="btpoint_img01" class="pointMa">
                <a href="#a"><img src="img/btn_point_area.png" width="17" height="23" border="0" alt=""></a>
            </div>
            <div id="btpoint_img02" class="pointMb">
                <a href="#a"><img src="img/btn_point_area.png" width="17" height="23" border="0" alt=""></a>
            </div>
            <div id="btpoint_img03" class="pointMc">
                <a href="#a"><img src="img/btn_point_area.png" width="17" height="23" border="0" alt=""></a>
            </div>
        </div>
    </div>
    메인 이미지영역 끝 -->

    <div id="point_store"  class="box_title3">
        <img src="/public_html/img/title_shopinfo.png" border="0" alt="">
        전국매장정보
    </div>

    <div id="" class="box_2dept_menu">
        <div id="" class="bt_2dept_left_menu">
            <a href="#ss">road shop</a>
        </div>
        <div id="bt_depart" class="bt_2dept_right_menu">
            <a href="#dd">department store</a>
        </div>
    </div>


    <!-- 서울 본점 -->
    <div id="" class="box_shop">
        <div id="" class="box_shop_left">
            <div id="" class="box_shop_left_div01">
                r&nbsp;o&nbsp;a&nbsp;d&nbsp; s&nbsp;h&nbsp;o&nbsp;p<br>
                서울 송파본점
            </div>
            <div id="" class="bt_mapstore">
                <div id="bttoggleA" class="toggleA">
                    <a href="#a">매장</a>
                </div>
                <div id="bttoggleB" class="toggleB">
                    <a href="#b">약도</a>
                </div>
            </div>
            <div id="" class="box_shop_left_div02">
                <b>영업시간</b><br>
                <div class="box_shop_left_div02_in01">
                    월&nbsp;-&nbsp;토<br>
                    일요일<br>
                    공휴일<br>
                </div>
                <div class="box_shop_left_div02_in02">
                    AM 10:00 ~ PM 08:30<br>
                    휴무<br>
                    부분개점 [휴일 전 공지]<br>
                </div>
            </div>
            <div id="" class="box_shop_left_div03">
                <b>매장정보</b><br>
                <div class="box_shop_left_div03_in01">
                    T&nbsp;&nbsp;E&nbsp;&nbsp;L<br>
                    도로명<br>
                    지&nbsp;&nbsp;&nbsp;&nbsp;번<br>
                    주&nbsp;&nbsp;&nbsp;&nbsp;차
                </div>
                <div class="box_shop_left_div03_in02">
                    02 - 401 - 5073<br>
                    서울시 송파구 중대로 271 헷세드B/D<br>
                    서울시 송파구 오금동 33-6 헷세드B/D<br>
                    주차 완비(B/D 지하)
                </div>
            </div>
        </div>
        <div id="" class="box_shop_right">
            <div id="" class="img_toggleA">
                <img src="/public_html/img/store01_store.jpg" border="0" alt="">
            </div>
            <div id="" class="img_toggleB">
                <img src="/public_html/img/store01_map.jpg" border="0" alt="">
            </div>
        </div>
    </div>


    <!-- 대전 지점 -->
    <div id="" class="box_shop">
        <div id="" class="box_shop_left">
            <div id="" class="box_shop_left_div01">
                r&nbsp;o&nbsp;a&nbsp;d&nbsp; s&nbsp;h&nbsp;o&nbsp;p<br>
                대전지점
            </div>
            <div id="" class="bt_mapstore">
                <div id="bttoggleC" class="toggleC">
                    <a href="#a">매장</a>
                </div>
                <div id="bttoggleD" class="toggleD">
                    <a href="#b">약도</a>
                </div>
            </div>
            <div id="" class="box_shop_left_div02">
                <b>영업시간</b><br>
                <div class="box_shop_left_div02_in01">
                    월&nbsp;-&nbsp;토<br>
                    일요일<br>
                    공휴일<br>
                </div>
                <div class="box_shop_left_div02_in02">
                    AM 10:00 ~ PM 08:30<br>
                    휴무<br>
                    부분개점 [휴일 전 공지]<br>
                </div>
            </div>
            <div id="" class="box_shop_left_div03">
                <b>매장정보</b><br>
                <div class="box_shop_left_div03_in01">
                    T&nbsp;&nbsp;E&nbsp;&nbsp;L<br>
                    도로명<br>
                    지&nbsp;&nbsp;&nbsp;&nbsp;번<br>
                    주&nbsp;&nbsp;&nbsp;&nbsp;차
                </div>
                <div class="box_shop_left_div03_in02">
                    042 - 542 - 7328<br>
                    대전시 서구 계백로 1236<br>
                    대전시 서구 정림동 396<br>
                    주차 완비(B/D 마당)
                </div>
            </div>
        </div>
        <div id="" class="box_shop_right">
            <div id="" class="img_toggleC">
                <img src="/public_html/img/store02_store.jpg" border="0" alt="">
            </div>
            <div id="" class="img_toggleD">
                <img src="/public_html/img/store02_map.jpg" border="0" alt="">
            </div>
        </div>
    </div>


    <!-- 부산점 -->
    <div id="" class="box_shop">
        <div id="" class="box_shop_left">
            <div id="" class="box_shop_left_div01">
                r&nbsp;o&nbsp;a&nbsp;d&nbsp; s&nbsp;h&nbsp;o&nbsp;p<br>
                부산 해운대지점
            </div>
            <div id="" class="bt_mapstore">
                <div id="bttoggleE" class="toggleA">
                    <a href="#a">매장</a>
                </div>
                <div id="bttoggleF" class="toggleB">
                    <a href="#b">약도</a>
                </div>
            </div>
            <div id="" class="box_shop_left_div02">
                <b>영업시간</b><br>
                <div class="box_shop_left_div02_in01">
                    월&nbsp;-&nbsp;토<br>
                    일요일<br>
                    공휴일<br>
                </div>
                <div class="box_shop_left_div02_in02">
                    AM 10:00 ~ PM 08:30<br>
                    휴무<br>
                    부분개점 [휴일 전 공지]<br>
                </div>
            </div>
            <div id="" class="box_shop_left_div03">
                <b>매장정보</b><br>
                <div class="box_shop_left_div03_in01">
                    T&nbsp;&nbsp;E&nbsp;&nbsp;L<br>
                    도로명<br>
                    지&nbsp;&nbsp;&nbsp;&nbsp;번<br>
                    주&nbsp;&nbsp;&nbsp;&nbsp;차
                </div>
                <div class="box_shop_left_div03_in02">
                    051 - 743 - 5093<br>
                    부산시 해운대구 달맞이길 117 나길 162<br>
                    부산 해운대구 중동 1533-3<br>
                    주차 완비(B/D 마당)
                </div>
            </div>
        </div>
        <div id="" class="box_shop_right">
            <div id="" class="img_toggleE">
                <img src="/public_html/img/store03_store.jpg" border="0" alt="">
            </div>
            <div id="" class="img_toggleF">
                <img src="/public_html/img/store03_map.jpg" border="0" alt="">
            </div>
        </div>
    </div>

    <!-- 대구 수성지점 -->
    <div id="" class="box_shop">
        <div id="" class="box_shop_left">
            <div id="" class="box_shop_left_div01">
                r&nbsp;o&nbsp;a&nbsp;d&nbsp; s&nbsp;h&nbsp;o&nbsp;p<br>
                대구 수성지점
            </div>
            <div id="" class="bt_mapstore">
                <div id="bttoggleG" class="toggleC">
                    <a href="#a">매장</a>
                </div>
                <div id="bttoggleH" class="toggleD">
                    <a href="#b">약도</a>
                </div>
            </div>
            <div id="" class="box_shop_left_div02">
                <b>영업시간</b><br>
                <div class="box_shop_left_div02_in01">
                    월&nbsp;-&nbsp;토<br>
                    일요일<br>
                    공휴일<br>
                </div>
                <div class="box_shop_left_div02_in02">
                    AM 10:00 ~ PM 08:30<br>
                    휴무<br>
                    부분개점 [휴일 전 공지]<br>
                </div>
            </div>
            <div id="" class="box_shop_left_div03">
                <b>매장정보</b><br>
                <div class="box_shop_left_div03_in01">
                    T&nbsp;&nbsp;E&nbsp;&nbsp;L<br>
                    도로명<br>
                    지&nbsp;&nbsp;&nbsp;&nbsp;번<br>
                    주&nbsp;&nbsp;&nbsp;&nbsp;차
                </div>
                <div class="box_shop_left_div03_in02">
                    053-768-5073<br>
                    대구시 수성구 무학로 49<br>
                    대구시 수성구 상동 413-8<br>
                    주차 완비(B/D 마당)
                </div>
            </div>
        </div>
        <div id="" class="box_shop_right">
            <div id="" class="img_toggleG">
                <img src="/public_html/img/store04_store.jpg" border="0" alt="">
            </div>
            <div id="" class="img_toggleH">
                <img src="/public_html/img/store04_map.jpg" border="0" alt="">
            </div>
        </div>
    </div>

    <div id="point_depart" class="box_space">
        <a id="bt_depart"></a>
    </div>


    <div id="" class="box_2dept_menu">
        <div id="bt_store" class="bt_2dept_left_menu">
            <a href="#ss">road shop</a>
        </div>
        <div id="" class="bt_2dept_right_menu">
            <a href="#dd">department store</a>
        </div>
    </div>

    <!-- 신세계백화점 대구점 -->
    <div id="" class="box_shop">
        <div id="" class="box_shop_left02">
            <div id="" class="box_shop_left_div04" style="background-color:#a93a2d;">
                <span class="" style="letter-spacing: 2px;">department store</span>
                신세계백화점 대구점
            </div>

            <div id="" class="box_shop_left_div05">
                <b>영업시간</b><br>
                <div class="box_shop_left_div05_in01">
                    정&nbsp;&nbsp;&nbsp;상<br>
                    연&nbsp;&nbsp;&nbsp;장<br>
                    공휴일<br>
                </div>
                <div class="box_shop_left_div05_in02">
                    AM 10:30 ~ PM 08:00<br>
                    AM 10:30 ~ PM 09:00<br>
                    각 백화점 휴무 일정에 따름<br>
                </div>
            </div>
            <div id="" class="box_shop_left_div06" style="padding-top:0px;">
                <b>매장정보</b><br>
                <div class="box_shop_left_div06_in01">
                    T&nbsp;&nbsp;E&nbsp;&nbsp;L<br><br>
                    도로명<br>
                </div>
                <div class="box_shop_left_div06_in02">
                    053 - 661- 6948(대구 신세계백화점)<br>
                    053 - 768 - 5073(대구 수성지점)<br>
                    대구광역시 동구 동부로 149<br>
                </div>
            </div>
        </div>
        <div id="" class="box_shop_right">
            <div id="" class="">
                <img src="/public_html/img/store12_map.jpg" border="0" alt="">
            </div>
        </div>
    </div>

    <!-- 신세계백화점 부산센텀시티점 -->
    <div id="" class="box_shop">
        <div id="" class="box_shop_left02">
            <div id="" class="box_shop_left_div04" style="background-color:#a93a2d;">
                <span class="" style="letter-spacing: 2px;">department store</span>
                신세계백화점 부산센텀시티점
            </div>

            <div id="" class="box_shop_left_div05">
                <b>영업시간</b><br>
                <div class="box_shop_left_div05_in01">
                    정&nbsp;&nbsp;&nbsp;상<br>
                    연&nbsp;&nbsp;&nbsp;장<br>
                    공휴일<br>
                </div>
                <div class="box_shop_left_div05_in02">
                    AM 10:30 ~ PM 08:00<br>
                    AM 10:30 ~ PM 09:00<br>
                    각 백화점 휴무 일정에 따름<br>
                </div>
            </div>
            <div id="" class="box_shop_left_div06" style="padding-top:0px;">
                <b>매장정보</b><br>
                <div class="box_shop_left_div06_in01">
                    T&nbsp;&nbsp;E&nbsp;&nbsp;L<br>F&nbsp;&nbsp;A&nbsp;&nbsp;X<br>
                    도로명<br>
                </div>
                <div class="box_shop_left_div06_in02">
                    051 - 745 - 2229<br>
                    051 - 745 - 2715<br>
                    부산시 해운대구 센텀남대로 35,8F<br>
                </div>
            </div>
        </div>
        <div id="" class="box_shop_right">
            <div id="" class="">
                <img src="/public_html/img/store13_map.jpg" border="0" alt="">
            </div>
        </div>
    </div>





    <!-- 롯데백화점 명동점 -->
    <div id="" class="box_shop">
        <div id="" class="box_shop_left02">
            <div id="" class="box_shop_left_div04">
                <span class="" style="letter-spacing: 2px;">department store</span>
                롯데백화점 명동점
            </div>

            <div id="" class="box_shop_left_div05">
                <b>영업시간</b><br>
                <div class="box_shop_left_div05_in01">
                    정&nbsp;&nbsp;&nbsp;상<br>
                    연&nbsp;&nbsp;&nbsp;장<br>
                    공휴일<br>
                </div>
                <div class="box_shop_left_div05_in02">
                    AM 10:30 ~ PM 08:30<br>
                    AM 10:30 ~ PM 08:30<br>
                    각 백화점 휴무 일정에 따름<br>
                </div>
            </div>
            <div id="" class="box_shop_left_div06">
                <b>매장정보</b><br>
                <div class="box_shop_left_div06_in01">
                    T&nbsp;&nbsp;E&nbsp;&nbsp;L<br>
                    도로명<br>
                </div>
                <div class="box_shop_left_div06_in02">
                    02-772-3849<br>
                    서울시 중구 남대문로 81,8F<br>
                </div>
            </div>
        </div>
        <div id="" class="box_shop_right">
            <div id="" class="">
                <img src="/public_html/img/store05_map.jpg" border="0" alt="">
            </div>
        </div>
    </div>


    <!-- 롯데백화점 잠실점 -->
    <div id="" class="box_shop">
        <div id="" class="box_shop_left02">
            <div id="" class="box_shop_left_div04">
                <span class="" style="letter-spacing: 2px;">department store</span>
                롯데백화점 잠실점
            </div>

            <div id="" class="box_shop_left_div05">
                <b>영업시간</b><br>
                <div class="box_shop_left_div05_in01">
                    정&nbsp;&nbsp;&nbsp;상<br>
                    연&nbsp;&nbsp;&nbsp;장<br>
                    공휴일<br>
                </div>
                <div class="box_shop_left_div05_in02">
                    AM 10:30 ~ PM 08:30<br>
                    AM 10:30 ~ PM 08:30<br>
                    각 백화점 휴무 일정에 따름<br>
                </div>
            </div>
            <div id="" class="box_shop_left_div06">
                <b>매장정보</b><br>
                <div class="box_shop_left_div06_in01">
                    T&nbsp;&nbsp;E&nbsp;&nbsp;L<br>
                    도로명<br>
                </div>
                <div class="box_shop_left_div06_in02">
                    02-2143-1896<br>
                    서울시 송파구 올림픽로 240,10F<br>
                </div>
            </div>
        </div>
        <div id="" class="box_shop_right">
            <div id="" class="">
                <img src="/public_html/img/store11_map.jpg" border="0" alt="">
            </div>
        </div>
    </div>


    <!-- 롯데백화점 강남점 -->
    <div id="" class="box_shop">
        <div id="" class="box_shop_left02">
            <div id="" class="box_shop_left_div04">
                <span class="" style="letter-spacing: 2px;">department store</span>
                롯데백화점 강남점
            </div>

            <div id="" class="box_shop_left_div05">
                <b>영업시간</b><br>
                <div class="box_shop_left_div05_in01">
                    정&nbsp;&nbsp;&nbsp;상<br>
                    연&nbsp;&nbsp;&nbsp;장<br>
                    공휴일<br>
                </div>
                <div class="box_shop_left_div05_in02">
                    AM 10:30 ~ PM 08:30<br>
                    AM 10:30 ~ PM 08:30<br>
                    각 백화점 휴무 일정에 따름<br>
                </div>
            </div>
            <div id="" class="box_shop_left_div06">
                <b>매장정보</b><br>
                <div class="box_shop_left_div06_in01">
                    T&nbsp;&nbsp;E&nbsp;&nbsp;L<br>
                    도로명<br>
                </div>
                <div class="box_shop_left_div06_in02">
                    02-531-2813<br>
                    서울시 강남구 도곡로 401,8F<br>
                </div>
            </div>
        </div>
        <div id="" class="box_shop_right">
            <div id="" class="">
                <img src="/public_html/img/store07_map.jpg" border="0" alt="">
            </div>
        </div>
    </div>

    <!-- 롯데백화점 영등포점 -->
    <div id="" class="box_shop">
        <div id="" class="box_shop_left02">
            <div id="" class="box_shop_left_div04">
                <span class="" style="letter-spacing: 2px;">department store</span>
                롯데백화점 영등포점
            </div>

            <div id="" class="box_shop_left_div05">
                <b>영업시간</b><br>
                <div class="box_shop_left_div05_in01">
                    정&nbsp;&nbsp;&nbsp;상<br>
                    연&nbsp;&nbsp;&nbsp;장<br>
                    공휴일<br>
                </div>
                <div class="box_shop_left_div05_in02">
                    AM 10:30 ~ PM 08:30<br>
                    AM 10:30 ~ PM 08:30<br>
                    각 백화점 휴무 일정에 따름<br>
                </div>
            </div>
            <div id="" class="box_shop_left_div06">
                <b>매장정보</b><br>
                <div class="box_shop_left_div06_in01">
                    T&nbsp;&nbsp;E&nbsp;&nbsp;L<br>
                    도로명<br>
                </div>
                <div class="box_shop_left_div06_in02">
                    02-2630-6966<br>
                    영등포구 경인로 846, 9F<br>
                </div>
            </div>
        </div>
        <div id="" class="box_shop_right">
            <div id="" class="">
                <img src="/public_html/img/store10_map.jpg" border="0" alt="">
            </div>
        </div>
    </div>

    <!-- 롯데백화점 대전점 -->
    <div id="" class="box_shop">
        <div id="" class="box_shop_left02">
            <div id="" class="box_shop_left_div04">
                <span class="" style="letter-spacing: 2px;">department store</span>
                롯데백화점 대전점
            </div>

            <div id="" class="box_shop_left_div05">
                <b>영업시간</b><br>
                <div class="box_shop_left_div05_in01">
                    정&nbsp;&nbsp;&nbsp;상<br>
                    연&nbsp;&nbsp;&nbsp;장<br>
                    공휴일<br>
                </div>
                <div class="box_shop_left_div05_in02">
                    AM 10:30 ~ PM 08:30<br>
                    AM 10:30 ~ PM 08:30<br>
                    각 백화점 휴무 일정에 따름<br>
                </div>
            </div>
            <div id="" class="box_shop_left_div06">
                <b>매장정보</b><br>
                <div class="box_shop_left_div06_in01">
                    T&nbsp;&nbsp;E&nbsp;&nbsp;L<br>
                    도로명<br>
                </div>
                <div class="box_shop_left_div06_in02">
                    042-601-2034<br>
                    대전시 서구 계룡로 598,B1<br>
                </div>
            </div>
        </div>
        <div id="" class="box_shop_right">
            <div id="" class="">
                <img src="/public_html/img/store08_map.jpg" border="0" alt="">
            </div>
        </div>
    </div>



    <!-- 롯데백화점 광복점 -->
    <div id="" class="box_shop">
        <div id="" class="box_shop_left02">
            <div id="" class="box_shop_left_div04">
                <span class="" style="letter-spacing: 2px;">department store</span>
                롯데백화점 광복점
            </div>

            <div id="" class="box_shop_left_div05">
                <b>영업시간</b><br>
                <div class="box_shop_left_div05_in01">
                    정&nbsp;&nbsp;&nbsp;상<br>
                    연&nbsp;&nbsp;&nbsp;장<br>
                    공휴일<br>
                </div>
                <div class="box_shop_left_div05_in02">
                    AM 10:30 ~ PM 08:30<br>
                    AM 10:30 ~ PM 08:30<br>
                    각 백화점 휴무 일정에 따름<br>
                </div>
            </div>
            <div id="" class="box_shop_left_div06">
                <b>매장정보</b><br>
                <div class="box_shop_left_div06_in01">
                    T&nbsp;&nbsp;E&nbsp;&nbsp;L<br>
                    도로명<br>
                </div>
                <div class="box_shop_left_div06_in02">
                    051-678-3020<br>
                    부산시 중구 중앙동 7가 20-1,9F<br>
                </div>
            </div>
        </div>
        <div id="" class="box_shop_right">
            <div id="" class="">
                <img src="/public_html/img/store09_map.jpg" border="0" alt="">
            </div>
        </div>
    </div>


</div>